// transitions.scss
:root {
  --transition-duration: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-duration: 0;
  }
}

.forward {
  &-enter-from {
    transform: translateX(100%);
  }

  &-leave-to {
    transform: translateX(-30%);
  }

  &-enter-active,
  &-leave-active {
    position: fixed;
    inset: 0;
    z-index: 0;
    background-color: #fafafa;
    transition: transform var(--transition-duration);
  }
}

.backward {
  &-leave-to {
    transform: translateX(100%);
  }

  &-enter-from {
    transform: translateX(-30%);
  }

  &-enter-active,
  &-leave-active {
    position: fixed;
    inset: 0;
    z-index: 0;
    background-color: #fafafa;
    transition: transform var(--transition-duration);
  }

  &-leave-active {
    z-index: 1;
  }
}
