//
%border-no {
  border: none;
}
%border-t-no {
  border-top: none;
}
%border-r-no {
  border-right: none;
}
%border-b-no {
  border-bottom: none;
}
%border-l-no {
  border-left: none;
}
%border-tb-no {
  border-top: none;
  border-bottom: none;
}
%border-rl-no {
  border-right: none;
  border-left: none;
}
%border-trl-no {
  border-top: none;
  border-right: none;
  border-left: none;
}
%border-rbl-no {
  border-right: none;
  border-bottom: none;
  border-left: none;
}
